/* ==========================================================================
   Mint skin
   ========================================================================== */

/* Colors */
$text-color: #505050 !default;
$muted-text-color: #7e7e7e !default;
$primary-color: #888888 !default;
$link-color: #00916a !default;
$footer-background-color: #fafafa !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;

